<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <title>Peer-to-Peer Connect</title>
    <script defer src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script defer src="../../chatclient.js"></script>
    <link rel="stylesheet" href="../../styles/chat.css">
</head>

<body>
    <nav>
        <img class="logo" src="../../media/chat_icon.png" alt="...">
    </nav>
    <h1>Welcome to the Discussion</h1>
    <div class="container">
        <div class="message left">New Chat</div>
    </div>
    <div class="send">
        <form action="#" id="send-container">
            <input type="text" name="messageinp" id="messageinp">
            <button type="submit" class="btn">Send</button>
        </form>
    </div>
</body>

</html>